<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Hamilton</h2>
    <img src="https://ep01.epimg.net/verne/imagenes/2014/12/11/articulo/1418314336_993353_1437410838_noticia_normal.jpg" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quos nam aperiam explicabo ipsa ad? Ipsam velit eaque beatae quisquam cum magni obcaecati expedita illum, provident voluptates eius unde fugit.</p>
    <ul>
        <li>Texto 1</li>
        <li>Texto 2</li>
        <li>Texto 3</li>
        <li>Texto 4</li>
        <li>Texto 5</li>
    </ul>
</body>
</html>