<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
</head>
<body>
    <h2>Hopper</h2>
    <img src="/images/GraceHopper2.jpg" alt="">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi rem voluptas nobis molestias deserunt debitis fugit id placeat officiis dolorum, nisi eos enim earum tenetur quasi minus quos illum iste.</p>
    <ul>
        <li>Texto 1</li>
        <li>Texto 2</li>
        <li>Texto 3</li>
        <li>Texto 4</li>
        <li>Texto 5</li>
    </ul>
</body>
</html>